@charset "utf-8";

/* #sidebar */ 
#sidebar #highlights img {
    float:right;
    border:4px solid #000;
}
#sidebar #highlights .box{
    float:left;
    overflow: visible;
    width:400px; /*720-30*2-200-4*2-1*2-15*2-20*/
    height:181px; /*200+4*2-1*2-13-12*/
    padding:13px 15px 12px 15px;
    border:1px dashed #B4B4B4;
    -moz-border-radius: 5px;     
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
#sidebar #highlights .box ul {
    margin:0;
    padding:0;
}
#sidebar #highlights .box ul li {
    list-style-type:none;
    line-height: 26px;
    padding-left:30px;
    border-bottom:1px dotted #B4B4B4;
    background-image: url(images/pin.png);
    background-position: bottom left;
    background-repeat: no-repeat;
}
#sidebar #highlights .box ul li a {
    white-space:nowrap;
    overflow:hidden;
}
#sidebar #highlights .box .more {
    float:right;
    margin:0;
    padding:0;
    font-size:10pt;
}
#sidebar #highlights .box .more a {
    color:#11c;
}
#sidebar #highlights .box .more a:hover {
    color:#36c;
}
#sidebar #navi {
    margin-top:30px;
    margin-bottom:-1px;
    padding:0;
    border-bottom: 1px solid #B4B4B4;
}
#sidebar #navi table{
    margin:0;
    padding:0;
    border-collapse: collapse;
}
#sidebar #navi table tr td {
    border-left:1px dotted #B4B4B4;
    padding: 0 8px;
}
#sidebar #navi table tr td.first_item {
    width:100%;
    border:none;
    font-style: italic;
}
#sidebar #navi table tr td a {
    text-decoration: none;
    color: #666;
}
#sidebar #navi table tr td a:hover {
    text-decoration: none;
    color: #000;
}
#sidebar #navi table tr td.current_item a {
    color:#000;
}
#sidebar #topics-mask { 
    display: none;
    position: absolute;
    width:660px; 
    height: 170px; 
    background:#ccc; 
    filter: Alpha(Opacity=95, Style=0); 
    opacity: 0.95;
    z-index:20; 
} 
#sidebar #topics {
    display: none;
    position: absolute;
    width:640px;
    height: 170px; 
    padding:10px 10px 10px 10px;
    z-index:30; 
}
#sidebar #topics h3 {
    margin:0;
    padding:0;
    border-bottom: 1px dotted #333;
    font-style: italic;
    font-size: 10pt;
    color: #333;
}
#sidebar #topics ul {
    margin:5px 0 15px 0;
    padding:0;
    font-size:10pt;
}
#sidebar #topics ul.wp_list_categories li,  
#sidebar #topics ul.wp-tag-cloud li {
    display:inline;
    margin-right:15px;
}

/* POSTLIST */
#postlist {
    margin-top: 30px;
}
#postlist .section {
    margin-bottom: 25px;
}
#postlist .section .pic {
    float:left;
    width:150px;
    height:150px;
    border:1px solid #B4B4B4; 
}
#postlist .section .pic img {
    max-width:150px;
    max-height: 150px;
}
#postlist .section .text {
    float:left;
    height:151px;
    border-bottom:1px dotted #B4B4B4;
    padding-left:20px;
    width:488px;/*720-30*2-(150+1*2)-20*/
    overflow: hidden;
    position: relative;
}
#postlist .section .text .title {
    color:#996600;
}
#postlist .section .text .content {
    font-size:10.5pt;
    overflow: hidden;
}
#postlist .section .text .meta {
    position:absolute;
    bottom: 0;
    font-size:10pt;
    font-style:italic;
    color:#996600;
}
#postlist .navi .left {
    float:left;
}
#postlist .navi .right {
    float:right;
}

/* SINGLE */
#singlepost .post {
    padding-bottom: 30px;
}
#singlepost .post .title {
    padding-right:30px;
    text-align: center;
    color: #996600;
}
#singlepost .post .meta {
    padding-right: 30px;
    text-align: center;
    font-size:9pt;
    font-style:italic;
    color:#666;
}
#singlepost .post .content {
    margin-top: 30px;
    margin-bottom: 10px;
}
#singlepost .post .content h1 {
    font-size: 11pt;
    margin-top: 15px;
    margin-bottom: 15px;
}
#singlepost .post .content h2 {
    font-size: 10.5pt;
    margin-top: 15px;
    margin-bottom: 15px;
}
#singlepost .post .content h3 {
    font-size: 10.5pt;
    margin-top: 10px;
    margin-bottom: 10px;
}
#singlepost .post .content p{
    text-align:justify;
    margin-bottom: 10px;
}
#singlepost .post .content ul {
    margin-top:15px;
    margin-bottom: 10px;
    font-size: 10pt;
}
#singlepost .post .content img {
    max-width:100%;
}

/* COMMENTS */
#comments .comments-title {
    border-bottom: 1px solid #B4B4B4;
    color:#996600;
}
#comments .comments-title span {
    font-weight: normal;
}
#comments .navigation {
    margin:10px 0 10px 0;
    font-size: 10pt;
}
#comments .navigation .nav-previous {
    float:left;
}
#comments .navigation .nav-next {
    float:right;
}
.commentlist {
    list-style: none;
    margin: 0;
    padding: 0;
}
.commentlist li.comment {
    border-bottom: 1px dashed #B4B4B4;
    line-height: 24px;
    margin: 10px 0 0 0;
    padding: 0 0 0 50px;
    position: relative;
}
.commentlist .children {
    list-style: none;
    margin: 0;
    padding: 0;
}
.commentlist .children li {
    border:none;
    border-left:1px dashed #B4B4B4;
    margin: 0;
    padding: 0 0 0 50px;
    position: relative;
}
.commentlist .avatar {
    position: absolute;
    left:-1px;
    top:0;
}
.comment-author cite {
    color: #000;
    font-style: normal;
    font-weight: bold;
}
.comment-author .says {
    font-style: italic;
}
.comment-meta {
    font-size: 10pt;
}
.comment-meta a:link,
.comment-meta a:visited {
    color: #888;
    text-decoration: none;
}
.comment-meta a:active,
.comment-meta a:hover {
    color: #ff4b33;
}
.comment-body p{
    margin:0;
    padding:0;
}
.reply {
    margin:0;
    padding:0;
    padding-bottom: 20px;
    font-size:10pt;
    font-weight: normal;
}
.reply a,
a.comment-edit-link {
    color: #888;
}
.reply a:hover,
a.comment-edit-link:hover {
    color: #ff4b33;
}

.nopassword,
.nocomments {
    display: none;
}
#comments .pingback {
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 18px;
    padding-bottom: 18px;
}
.commentlist li.comment+li.pingback {
    margin-top: -6px;
}
#comments .pingback p {
    color: #888;
    display: block;
    line-height: 18px;
    margin: 0;
}
#comments .pingback .url {
    font-size: 11pt;
    font-style: italic;
}
#respond #reply-title {
    font-size:11pt;
    color:#996600;
}
#respond #cancel-comment-reply-link {
    margin-top:3px;
    margin-left:15px;
    font-size: 10pt;;
    font-weight: normal;
}
#respond #commentform .comment-notes {
    display:none;
}
#respond #commentform .required {
    color: #ff4b33;
    font-weight: bold;
}
#respond #commentform label {
    color: #888;
    font-size: 10pt;
    vertical-align: top;
}
#respond #commentform textarea {
    margin-left: 5px;
    width:430px;
    max-width: 580px;
    border:1px solid #B4B4B4;
    background: #F1F2E1;
}
#respond #commentform .form-allowed-tags {
    display:none;
}
#respond #commentform .form-submit input {
    margin-left:58px;
}
#respond #commentform p.comment-form-author,
#respond #commentform p.comment-form-email,
#respond #commentform p.comment-form-url {
    position:relative;
}
#respond #commentform p.comment-form-author input,
#respond #commentform p.comment-form-email input,
#respond #commentform p.comment-form-url input {
    position: absolute;
    left:60px;
    border:1px solid #B4B4B4;
    background: #F1F2E1;
    width:200px;
    height:18px;
}